/* Variables */
:root {
  --background-color: #121212;
  --text-color: #dbdbdb;
  --window-border-radius: 6px;
  --font-size: 14px;
}

a{
  color: #C50005;
}

/* System Fonts as used by GitHub */
body {
  width:100%; height:100%; overflow:hidden!important; margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* The arrow at the top of the window */
.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #cc0001;
}

.window {
  position: absolute;
  top: 5px;
}

.toolbar {
  box-shadow: none;
}

.window, .toolbar-header {
  border-top-left-radius: var(--window-border-radius);
  border-top-right-radius: var(--window-border-radius);
}

.window-content {
  background-color: var(--background-color);
}

.column {
  width: 50%;
  float: left;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.title{
  width: 100%;
  margin: auto;
  text-align: center;
  margin: 10px 0 5px 0;
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
}
.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}
.note-status{
  font-size: 12px;
  color: var(--text-color);
}
.note-status-divider{
  opacity: 0.3;
}
.note{
  font-size: 12px;
  opacity: 0.5;
}

.reading {
  font-size: calc(var(--font-size) + 6px);
  font-weight: 300;
  color: var(--text-color);
}

.description {
  text-transform: uppercase;
  color: rgb(124, 124, 124);
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
}

.login-error {
  text-transform: uppercase;
  color: #cc0001;
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
}

.modal-error {
  color: #cc0001;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}


.modal-info {
  color: #cfcfcf;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}




.action-error {
  text-transform: uppercase;
  color: #cc0001;
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
  text-align: center;
}

.disclaimer {
  margin: 15px 5px 15px 5px;
  color: rgb(124, 124, 124);
  font-size: calc(var(--font-size) - 3px);
  font-weight: 300;
}

.footer-link {
  padding-top: 8px;
  padding-left: 10px;
  font-size: calc(var(--font-size) - 4px);
  float: left;
}

.footer-link a {
  color: var(--text-color);
}

hr{
  max-width: 80%;
  margin: 10px auto;
  border-color: #202020;
  opacity: 0.4;
}

.car-model{
  text-align: center;
}

.status{
  display: inline-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.status > div {
  margin:0 5px;
}

.location{
  text-align: center;
}

.controls-items{
  display: inline-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.controls-items > div {
  margin:4px 3px;
  opacity: 0.6;
}

.controls-items > div:hover {
  opacity: 1;
}

.controls-items > div:active {
  filter: blur(1px);
}


.signal {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;

  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.exclamation{
  margin-top: 20px;
  text-align: center;
}

.tooltip{
  color: rgb(124, 124, 124);
  font-size: calc(var(--font-size) - 3px);
  text-align: left;
}

.tooltip > span {
  opacity: 1;
  color: white;
}


/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 20px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  top: 100px;
  width: auto;
  margin: 0 auto;
  padding-bottom: 24px;
}
.ant-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.ant-modal-title {
  margin: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}
.ant-modal-content {
  position: relative;
  background-color: #363636;
  background-clip: padding-box;
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.ant-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: rgba(230, 230, 230, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.ant-modal-close-x {
  display: block;
  width: 56px;
  height: 56px;
  font-size: 16px;
  font-style: normal;
  line-height: 56px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}
.ant-modal-close:focus,
.ant-modal-close:hover {
  color: rgba(177, 177, 177, 0.45);
  text-decoration: none;
}
.ant-modal-header {
  padding: 12px 24px;
  color: rgba(0, 0, 0, 0.65);
  background: #363636;
  border-radius: 4px 4px 0 0;
}
.ant-modal-body {
  padding: 0 18px 18px 18px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}
.ant-modal-footer {
  padding: 10px 16px;
  text-align: right;
  background: transparent;
  border-radius: 0 0 4px 4px;
}
.ant-modal-footer button + button {
  margin-bottom: 0;
  margin-left: 8px;
}
/* .ant-modal.zoom-enter,
.ant-modal.zoom-appear {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
} */
.ant-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  filter: alpha(opacity=50);
}
.ant-modal-mask-hidden {
  display: none;
}
.ant-modal-open {
  overflow: hidden;
}
.ant-modal-centered {
  text-align: center;
}
.ant-modal-centered::before {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: '';
}
.ant-modal-centered .ant-modal {
  top: 0;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (max-width: 900px) {
  .ant-modal {
    max-width: calc(100vw - 16px);
    margin: 8px auto;
  }
  .ant-modal-centered .ant-modal {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.ant-modal-confirm .ant-modal-header {
  display: none;
}
.ant-modal-confirm .ant-modal-close {
  display: none;
}
.ant-modal-confirm .ant-modal-body {
  padding: 32px 32px 24px;
}
.ant-modal-confirm-body-wrapper {
  zoom: 1;
}
.ant-modal-confirm-body-wrapper::before,
.ant-modal-confirm-body-wrapper::after {
  display: table;
  content: '';
}
.ant-modal-confirm-body-wrapper::after {
  clear: both;
}
.ant-modal-confirm-body .ant-modal-confirm-title {
  display: block;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
.ant-modal-confirm-body .ant-modal-confirm-content {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
.ant-modal-confirm-body > .anticon {
  float: left;
  margin-right: 16px;
  font-size: 22px;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-left: 38px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
  float: right;
  margin-top: 24px;
}
.ant-modal-confirm .ant-modal-confirm-btns button + button {
  margin-bottom: 0;
  margin-left: 8px;
}
.ant-modal-confirm-error .ant-modal-confirm-body > .anticon {
  color: #f5222d;
}
.ant-modal-confirm-warning .ant-modal-confirm-body > .anticon,
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: #faad14;
}
.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  color: #B5241B;
}
.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
  color: #52c41a;
}
